{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Intecap | SICAME </title>
    <link rel="stylesheet" href="{% static "core/css/Bootstrap/estilos-intecap.css" %}">
    <link rel="stylesheet" href="{% static "core/css/fuentes.css" %}">
    <link rel="stylesheet" href="{% static "core/css/Bootstrap/Bootstrap.min.css" %}">
    <link href="{% static "core/fonts/font-kp/fonts/style.css" %}" rel="stylesheet" type="text/css">
</head>
<style>
	header img.int{
		height: 200;
		background: #000;
	}
</style>
<body>
	<header>
			<img class="int" src="../core/static/core/img/logo-intecap.png" height="55" alt="">
			<img class="sicame" src="../core/static/core/img/Logo SICAME1.png" height="55" alt="">
	</header>
</body>
</html>