{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}SICAME | {{ title }} {% endblock %}




{% block branding %}

<!-- INTECAP IMG -->
<div id="site-name" class="branding">
  <a href="{% url 'admin:index' %}">
    {% comment %} {{ site_header|default:_('Django administration') }} {% endcomment %}
    <img class="logoIntecap" src={% static "/core/imgs/intecap.png" %} alt="">
  </a>
</div>

{% if user.is_anonymous %}
  {% comment %} {% include "admin/color_theme_toggle.html" %} {% endcomment %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
