{% extends "admin/base.html" %}
{% load static %}

{% block title %} 
    INTECAP | SICAME
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <!--O es este el encale maldito-->
    <a href="{% url 'admin:index' %}">
        <img class="intecap-img" src={% static "core/img/logo-intecap.png" %} height="75" alt="">
    </a>
        <!--img class="intecap-img" src={% static "core/img/no-img.jpg" %} height="75" alt=""-->
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}
    <style>
        #changelist .actions .button{
            color: #fff !important;
            background: #18CF00 !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        #changelist .actions .button:hover{
            color: #696969 !important;
            font-weight: bold;
            background: #0A5A00 !important;
        }
        /*.field-image_thub:hover img{
            width: 100px;
            height: 100px;
        }*/
        .logut-admin, .password-admin{
            font-size: 16px;
            text-decoration: none;
        }
        .icon-power-off{
            color: red;
            text-shadow: 0px 0px 35px #265787;
        }
        .icon-key2{
            color: #23D700;
            text-shadow: 0px 0px 35px #265787;
        }
        .icon-key2 a:hover{
            text-shadow: 0px 0px 15px #000;
        }
        .icon-key2, .icon-power-off{
            padding-right: 5px;
            font-size: 24px;
        }
        .login .submit-row{
            padding: 0px !important;
            text-align: center !important;
        }
        .login-btn-in{
            align-self: center;
            width: 300px;
        }
        .img-xd1{
            padding-right: 10px; 
        }
        .XD{
            padding: 15px;
        }
        .footer {
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100px;
            color: white;
            text-align: center;
        }
        a.print{
            text-decoration: none;
        }
        a.print span{
            color: #265787;
            font-size: 36px;
        }
        a.print span:hover{
            text-shadow: 0px 0px 10px #000;
        }
        div.footer{
        border-top: 3px solid #000;
        border-bottom: 3px solid #000;
        background: #616669;
        padding: 10px;
        color: white   
        }
        .footer .icon{
            font-size: 32px;
            margin: 5px;
        }
        .icon span{
            text-shadow: 0px 0px 10px #000;
        }
        .icon span:hover{
            text-shadow: 0px 0px 10px yellow;
        }
        .icon-github{
            color: #9835FE;
        }
        h1.welcome{
            color: black;
        }
        form .aligned p.help:last-child, form .aligned div.help:last-child {
            color: #265787;
            font-weight: bold;
            text-shadow: 0px 0px 5px #9CCDFD;
            text-decoration: underline;
        }
        .select2-container--admin-autocomplete .select2-results__option--highlighted[aria-selected] {
            background-color: #265787 !important;
        }
        .inline-group .tabular tr.add-row td:hover {
                font-weight: bold;
            }
        .inline-group .tabular tr.add-row td {
            padding: 8px 7px;
            border-bottom: none !important;
            background: #fff !important;

        }
        .inline-group ul.tools a.add, .inline-group div.add-row a, .inline-group .tabular tr.add-row td a {
            color: green;
            text-shadow: 0px 0px 10px yellow;
        }
        #header a:hover, #header a:hover {
            color: black !important;
            font-weight: bold;
            text-decoration: none !important;
            text-decoration-line: none;
        }
        #changelist #toolbar form #searchbar {
            color: #000 !important;
        }
        #changelist #toolbar form input {
            font-size: 16px !important;
            color: white !important;
            transition: width 2s;
        }
        #changelist #toolbar form input[type="submit"] {
            background: #18CF00 !important;
        }
        #changelist #toolbar form input[type="submit"]:hover{
            background: #0A5300 !important;
        }
        #changelist #toolbar {
            border-top: 1px solid #fff !important;
            border-bottom: 4px solid #eee !important;
            background: #fff !important;
        }
        #changelist-filter li.selected a {
            background:#f2f2f2;
            padding-left: 10px;
            margin-left: -10px;
            margin-right: -14px;
        }
        #changelist-filter li.selected {
            border-left: 5px solid #000 !important
        }
        #changelist-filter {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            background: #fff !important;
            border-left: 2px solid #265787 !important;
            border-right: 2px solid #265787 !important;
            border-bottom: 2px solid #265787 !important;
        }
        input:focus{
            box-shadow: 0px 0px 5px #36B4FF;
        }
        div.box1 {
            margin: 0px !important;
        }
        .login #container {
            border: 2px solid #265787 !important;
            border-radius: 25px !important;
            box-shadow: 6px 6px 2px #616669;
        }
        div .submit-row {
            background: #fff;
            border: 1px solid #fff;
        }
        #recent-actions-module{
            border-top-left-radius: 17px;
            border-top-right-radius: 17px;
            border-bottom-left-radius: 17px;
            border-bottom-right-radius: 17px;
            border-left: 1px solid #265787;
            border-right: 1px solid #265787;
            border-bottom: 1px solid #265787;
        }
        #content-related .module h2 {
            border: 4px solid #265787;
        }
        #content-related {
            background: #fff;
        }
        a.section:hover {
            text-decoration: none;
        }
        .intecap-img{
            padding-left: 35px;
        }
        th > a:link:hover, th>a:visited:hover {
            color: #265787;
        }
        #changelist table thead th{
            background: #265787;
            color: #fff;
        }
        thead th a:link, thead th a:visited {
            color: #fff;
        }
        thead{
            color: #fff;
        }
        a.section:link, a.section:visited {
            padding-left: 10px;
            font-size: 14px;
            font-family: 'Russo One', sans-serif;
        }
        div.inline-group div.add-row, .inline-group .tabular tr.add-row td {
            color: #666;
            background: white;
            padding: 8px 10px;
            border-bottom: 0px solid #eee;
        }
        .form-row {
            border-bottom: 1px solid #265787;;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        #header a:link, #header a:visited {
            color: #265787; font-family: 'Russo One', sans-serif;
            font-weight: bold;
            text-decoration: none !important;
        }
        #header{
            background: #fff;
            border-bottom: 5px solid #616669;
            padding: 15px;
        }
        div.breadcrumbs {
            padding-left: 15px;
            background: #616669;
            border-bottom: 4px solid #265787;
            transition: width 2s;
        }
        .module h2, .module caption, .inline-group h2 {
            background-color: #265787;
            border-bottom: 4px solid #000;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            padding-left: 15px;
            box-shadow: 3px 3px 1px #616669;
        }
        #id_password{
            padding-bottom: 5px;
            margin-bottom: 10px;
        }
        a:link, a:visited {
            color: black;
        }
         .button, input[type=submit], input[type=button], .submit-row input, a.button {
            background-color: #265787;
         }
         ul.messagelist li {
            background: #EFB8FF
        }
        table thead th .text a:focus, table thead th .text a:hover {
            background: black;
            color:#fff;
        }
        .module h2, .module caption:hover, .inline-group h2 {
            background-color: #616669;
        }
    /** -- Trabajando en los estilos de Perfil -- 
    .field-full_name, .field-equipo_cargado, .field-material_cargado, .field-total_cargado{
        padding-top: 20px;
    }
    
    #changelist table thead th.column-image_thub{
        border-top-left-radius: 15px;
    }
    #changelist table thead th.column-total_cargado{
        border-top-right-radius: 15px;
    }*/
    </style>
{% endblock extrastyle %}