<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<div style="width:500px;">
		<canvas id="myChart"></canvas>
	</div>
	{{ls}}
</body>
	<script>
		var ctx= document.getElementById("myChart").getContext("2d");
		var myChart= new Chart(ctx, {
			type:"bar",
			data: {
				labels:['col1', 'col2', 'col3'],
				datasets:[{
					label:'Num datos',
					data:[10, 12, 15],
					backgroundColor:[
						'rgb(0,255,6,0.6)',
						'rgb(255,0,0,0.6)',
						'rgb(1,42,250, 0.6)',
					]
				}]
			},
			options:{
				scales:{
					yAxes:[{
						ticks:{
							beginAtZero:true
						}
					}]
				}
			}
		});
	</script>
</html>